{{!-- View all posts--}}

{{#each posts as | post|}}
<div class="card" style="width: 50rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1>
    <h5 class="card-user">Posted by {{post.user.username}}</h5>
    <p class="card-text">{{post.post}}</p>
    <a href="/comment" class="btn btn-primary comment">See Comments</a>  
    {{!-- post.id to show comments also. --}}
  </div>
</div>
{{/each}}