<body class="login">
  <div class="row">
    <div class="col-md-6 p-5">
      <h2>Login</h2>

      <form class="form login-form p-3">
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email:</span>
            <input class="form-input" type="text" id="email-login" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Pasword:</span>
            <input class="form-input" type="password" id="password-login" />
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="login-button">login</button>
        </div>
      </form>
      <div>
        <a href="/signup">Signup instead
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="/js/login.js"></script>
</body>