{{#each posts as | post| }}
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1>
    <h5 class="card-user">Posted by {{post.user.username}}</h5>
    <p class="card-text">{{post.post}}</p>
    <p class="card-comment">{{post.comment.body}}</p>
    {{!-- <a href="/comment" class="btn btn-primary">See Comments</a>   --}}
  </div>
</div>
{{/each}}

<script src= "../public/js/post.js"></script>